[Unit]
Description=BEDM — Blue Environment Display Manager
Documentation=https://github.com/HackerOS-Linux-System/Blue-Environment
After=systemd-udevd.service local-fs.target acpid.service dbus.service
Conflicts=getty@tty1.service plymouth-quit-wait.service
After=getty@tty1.service plymouth-quit-wait.service

[Service]
Type=simple
ExecStart=/usr/bin/bedm
Restart=on-failure
RestartSec=3s

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=bedm

# Security
ProtectHome=no
PrivateTmp=no

# BEDM needs full system access to manage sessions
CapabilityBoundingSet=CAP_SYS_ADMIN CAP_SETUID CAP_SETGID CAP_SYS_TTY_CONFIG
AmbientCapabilities=CAP_SYS_ADMIN CAP_SETUID CAP_SETGID CAP_SYS_TTY_CONFIG

# Environment
Environment=DBUS_SESSION_BUS_ADDRESS=
Environment=HOME=/root

[Install]
Alias=display-manager.service
WantedBy=graphical.target
